.on{
    display: block;
}
.off{
    display: none;
}

.black-filter{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1f273f80;
    z-index: 1;
}

.modal-div{
    position: fixed;
    height: 80vh;
    width: 80vw;
    top:10vh;
    left:10vw;
    border-radius: 20px;
    background-color: #324159;
    border: 2px solid #c7c5cf;
}

.modal-div.off{
    display: none;
}

.click-off, .click-off:hover, .click-off:focus, .click-off:active{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: transparent;
}