.loading-div{
    position: fixed;
    top:0;
    height: 100vh;
    width: 100vw;
    background-color: #324159;
    z-index: 1;
    transition: all .8s ease-in-out;
}

.disappear{
    display: none;
}

.loading-logo{
    position: fixed;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    top:50%;
    left: 50%;
    animation: spin 3s ease infinite;
}

@keyframes spin {
    0%   {
        transform: rotate(0deg);  
    }
    100% {
        transform: rotate(360deg); 
    }
}

/* For future developement (animating both halves of the logo individually) */
/* .loading-logo-l{
    position: fixed;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -124px;
    top:50%;
    left: 50%;
    animation: spin 3s ease infinite;
}
.loading-logo-r{
    position: fixed;
    height: 200px;
    width: 200px;
    margin-top: -80px;
    margin-left: -80px;
    top:50%;
    left: 50%;
    animation: spin 3s ease infinite;
} */